* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cards {
  display: grid;
  padding: 114px 24px;
  grid-row: 4;
  align-items: center;
  gap: 88px;
  background-color: #f7f7f9;
}

.card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
}

.card-image {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.card-title {
  color: var(--neutrals-n-800, #172b4d);
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 137.5% */
  width: 295px;
  height: 36px;
}

.card-title-2 {
  color: var(--neutrals-n-800, #172b4d);
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 137.5% */
  width: 295px;
  height: 80px;
}

.card-button-placeholder {
  display: flex;
  padding: 12px 169px 12px 0;
  align-items: center;
}

.card-button-placeholder button {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  color: var(--primary-b-500, #396df2);
  text-align: center;
  background-color: white;

  /* Button /Normal */
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
}

.card-category {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 291px;
}

.card-category .client {
  display: flex;
  padding: 8px 0;
  align-items: center;
}

.card-category .client .client-name {
  color: var(--neutrals-n-600, #344563);
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 123.077% */
}

.counter img {
  width: 8px;
  height: 8px;
}

.card-category .role {
  display: flex;
  padding: 8px 0;
  align-items: center;
}

.card-category .role .role-title {
  color: var(--neutrals-n-100, #7a869a);
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 123.077% */
}

.card-category .year-label {
  display: flex;
  padding: 8px 0;
  align-items: center;
}

.card-category .year-label .year {
  color: var(--neutrals-n-100, #7a869a);
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 123.077% */
}

.card-description {
  color: var(--neutrals-n-600, #344563);
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}

.card-tags {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 291px;
}

.card-tags .tag {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  color: var(--primary-b-400, #6070ff);

  /* Button / Small */
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.36px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.aboutMyself {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.primarytext {
  display: flex;
  width: 327px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172b4d);

  /* Header / 2 */
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.detail {
  width: 327px;
  height: 147px;
  color: var(--neutrals-n-600, #344563);

  /* Body / 2 */
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.social-media {
  width: 117px;
  height: auto;
  display: flex;
  gap: 16px;
}

.supporting-text p {
  color: #7f8cff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  cursor: pointer;
}

.social-media-icons {
  width: 170.17px;
  height: 20px;
  margin-top: 40px;
  cursor: pointer;
}

.resume {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
}

.resume p {
  color: var(--primary-b-500, #396df2);
  text-align: center;

  /* Button /Normal */
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
}

.language {
  width: 237px;

  /* Body / 1 - Bolder */
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}

.skilllist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.innerframe {
  display: flex;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px;
}

.innerframe img {
  width: 24px;
  height: 24px;
}

.languagelist {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.skill {
  display: flex;
  width: 303px;
  padding: 9px 12px 9.716px 12px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
}

.skills {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);

  /* background: url(Ellipse\ 1.svg), lightgray 50% / cover no-repeat; */
}

.skill text {
  display: flex;
  width: 215px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-700, #253858);

  /* Body / 3 - Bolder */
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
}
